<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built with the blood, tears, and sweat of <a target="_blank" href="http://github.com/JessicaBrady16">Jessica</a> --a developer whos vision is to inspire other flatlanders to climb mountains and share their advice with like minded peers. 
  </p>
  <p>
    The advice generated on here has helped millions of hikers learn proper mountaineering techniques to use on such mountains such as Everest, K2, Denali, Matterhorn, and Long's Peak.
  </p>
  <p>
    If you want to learn more about mountaineering - start <a target="_blank" href="https://coloradomountainschool.com/"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'profilePic.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="small_pacifico">Jessica Brady</h2>
      <br />
      <p>
        Jessica Brady is an up-and-coming full-stack web developer. She has worn two past career hats--research scientist and secondary science teacher. However, Jessica’s love for computers stems back to her childhood when her parents had to pull her off her DOS machine to go to bed. Thus, she has decided to finally take her passion and make it a full-time reality. She would love to work on projects concerning either the biological sciences or educational tools. In her free time, you can find Jessica on one the mountains in Colorado or playing a video game. 
      </div>
    </div>
    <br class="clear" />
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
