<h1> "Expert" advice for surviving a hike in the Rockies!</h1>
<h1 class= 'small_pacifico'>(Made by Flatlanders for Flatlanders!) </h1>
<h2><%=@quote.saying %></h2>
<h2>- <%= @quote.author %></h2>
