<h1> "Expert" advice for surviving a hike in the Rockies!</h1>
<h1 class= 'small_pacifico'>(Made by Flatlanders for Flatlanders!) </h1>
<br />
<br />
<h2 class= "splurty_number" >
  <span>SPLURTY / No. <%= @quote.id %>:</span>
</h2>
<br />
<h2><%=@quote.saying %></h2>
<h2 class="float-right">- <%= @quote.author %></h2>
<br class="clear" />
<br />
<br />
<br />
